
@import 'bootstrap';


html, body {
  height: 100%;
}

.bg {
  background-color: #ffdcfb;
  background-image: url("../../assets/images/logo.png");
  background-position: center;
  background-size: cover;
}

main {
  opacity: 0.90;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
.bg-img {

 
  height: 530px;
  margin-top: 40px;
}

.caju {
  border-top: 5px solid red;
}

.banana{
  border-top: 5px solid green;
}

